In [6]:
from sklearn.datasets import fetch_openml
from sklearn.pipeline import Pipeline
from __init__ import ColumnsConcatenation

In [7]:
X, y = fetch_openml("titanic", version=1, as_frame=True, return_X_y=True)

In [8]:
pipe = Pipeline([("generate_columns", ColumnsConcatenation(columns='auto', level=2, max_cardinality=500))])
test = pipe.fit_transform(X)

In [9]:
test

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,...,sex_cabin,sex_embarked,sex_boat,sex_home.dest,cabin_embarked,cabin_boat,cabin_home.dest,embarked_boat,embarked_home.dest,boat_home.dest
0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,...,female_B5,female_S,female_2,"female_St Louis, MO",B5_S,B5_2,"B5_St Louis, MO",S_2,"S_St Louis, MO","2_St Louis, MO"
1,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,...,male_C22 C26,male_S,male_11,"male_Montreal, PQ / Chesterville, ON",C22 C26_S,C22 C26_11,"C22 C26_Montreal, PQ / Chesterville, ON",S_11,"S_Montreal, PQ / Chesterville, ON","11_Montreal, PQ / Chesterville, ON"
2,1.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,...,female_C22 C26,female_S,female_None,"female_Montreal, PQ / Chesterville, ON",C22 C26_S,C22 C26_None,"C22 C26_Montreal, PQ / Chesterville, ON",S_None,"S_Montreal, PQ / Chesterville, ON",NaN
3,1.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,...,male_C22 C26,male_S,male_None,"male_Montreal, PQ / Chesterville, ON",C22 C26_S,C22 C26_None,"C22 C26_Montreal, PQ / Chesterville, ON",S_None,"S_Montreal, PQ / Chesterville, ON",NaN
4,1.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,...,female_C22 C26,female_S,female_None,"female_Montreal, PQ / Chesterville, ON",C22 C26_S,C22 C26_None,"C22 C26_Montreal, PQ / Chesterville, ON",S_None,"S_Montreal, PQ / Chesterville, ON",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3.0,"Zabour, Miss. Hileni",female,14.5000,1.0,0.0,2665,14.4542,None,C,...,female_None,female_C,female_None,female_None,NaN,NaN,NaN,C_None,C_None,NaN
1305,3.0,"Zabour, Miss. Thamine",female,NaN,1.0,0.0,2665,14.4542,None,C,...,female_None,female_C,female_None,female_None,NaN,NaN,NaN,C_None,C_None,NaN
1306,3.0,"Zakarian, Mr. Mapriededer",male,26.5000,0.0,0.0,2656,7.2250,None,C,...,male_None,male_C,male_None,male_None,NaN,NaN,NaN,C_None,C_None,NaN
1307,3.0,"Zakarian, Mr. Ortin",male,27.0000,0.0,0.0,2670,7.2250,None,C,...,male_None,male_C,male_None,male_None,NaN,NaN,NaN,C_None,C_None,NaN
1308,3.0,"Zimmerman, Mr. Leo",male,29.0000,0.0,0.0,315082,7.8750,None,S,...,male_None,male_S,male_None,male_None,NaN,NaN,NaN,S_None,S_None,NaN